<h1>ジャンル編集画面</h1>

<%= form_with model:@genre, local:true do |f| %>
  <%= f.label :name, "name" %>
  <%= f.text_field :name %>
  <%= f.submit "save" %>
<% end %>

<%= link_to "Destroy", genre_path(@genre), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
