<% if @model == 'user' %>
  <% if @records.exists? %>
  	<h3> ユーザー"<%= @content %>"での検索結果（<%= @records.count %>件）</h3>
    <%= render 'users/search_index', users: @records %>
  <% else %>
    <h3>ユーザー"<%= @content %>"での検索結果は0件です。</h3>
  <% end %>
<% elsif @model == 'PostItem' %>
  <% if @records.exists? %>
	  <h3> 投稿"<%= @content %>"での検索結果（<%= @records.count %>件）</h3>
    <%= render 'post_items/search_index', post_items: @records %>
  <% else %>
    <h3>投稿"<%= @content %>"での検索結果は0件です。</h3>
  <% end %>
<% end %>