<h1>登録情報変更</h1>

<%= form_with model:@user, local: true do |f| %>

	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<div class="user-edit">
	<div class="user-edit-image">
		<h2><%= f.label :profile_image %></h2>
		<%= attachment_image_tag @user, :profile_image, id: "img_prev", size:'300x300', fallback: "no_image_icon.jpg" %></br>
		<%= f.attachment_field :profile_image, :placeholder =>"#{@user.profile_image}" %>
	</div>

	<script>
    $(document).on("turbolinks:load", function(){
      function readURL(input) {
        if(input.files && input.files[0]){
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#user_profile_image").change(function(){
        readURL(this);
      });
    });
  </script>

	<div class="user-edit-form">
		<h2><%= f.label :name %></h2>
		<%= f.text_field :name, :placeholder =>"#{@user.name}" %>

		<h2><%= f.label :email %></h2>
		<%= f.email_field :email, :placeholder =>"#{@user.email}"%>

		<h2><%= f.label :introduction %></h2>
		<%= f.text_area :introduction, size: "50x10", :placeholder =>"#{@user.introduction}"%>

		<div align="right"><%= f.submit "save", class:"btn" %></div>

	</div>
</div>

<div align="right">
	<%= link_to "退会はこちら=>", users_unsubscribe_path %>
</div>


<% end %>


