<h1>Editing Items</h1>

<%= form_with model:@post_item, local:true do |f| %>
  <div class="post-item-edit">
  	<div class="post-item-edit-image">
    	<h2><%= f.label :image, "Image" %></h2>
    	<%= attachment_image_tag @post_item, :image, size:'400x500', fallback: "no_image.jpg" %></br>
    	<%= f.attachment_field :image %>
    </div>
    <div class="post-item-edit-form">
      <h2><%= f.label :name %></h2>
      <%= f.text_field :name %>

      <h2><%= f.label :introduction %></h2>
      <%= f.text_area :introduction, size: "50x15" %>

      <h2><%= f.label :genre_id, "Category" %></h2>
      <%= f.collection_select :genre_id, Genre.all, :id, :name %>

      <div class="save-btn"><%= f.submit "save", class:"btn" %></div>
    </div>
  </div>
<% end %>

<div align="right">
  <%= link_to "保存せずに戻る", post_item_path(@post_item) %>
  </div>

