<h1>PostItems#new</h1>
<%= form_with model:@post_item, local:true do |f| %>
  <div class="field row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field row">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions row">
    <%= f.submit %>
  </div>
<% end %>

