<h2>Item detail</h2>

		<div class="post-item-show">
			<%= attachment_image_tag @post_item, :image, size:'400x500', fallback: "no_image.jpg" %>
			<div class="post-item-recommend">
				<h2>Title</h2>
				<p><%= @post_item.name %></p></br>
				<h2>Recommend</h2>
				<p><%= @post_item.introduction %></p></br>
				<h2>Category</h2>
				<p><%= @post_item.genre.name %></p></br>
				<h2>Recommender</h2>
				<p><%= link_to @post_item.user.name, user_path(@post_item.user) %></p></br>
				<% if @post_item.user == current_user %>
					<%= link_to "Edit", edit_post_item_path(@post_item) %>
					<%= link_to "Destroy", post_item_path(@post_item), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
				<% end %>
			</div>
		</div>